<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 279.69">
  <defs>
    <style>
      .cls-1{fill:#bdccd4;}
    </style>
  </defs>
  <title>
    SVG-Choose-Plan
  </title>
  <path class="cls-1" d="M76.59 56.69h-.33a4.63 4.63 0 1 0 0 9.26h.33a4.63 4.63 0 1 0 0-9.26zM120.49 56.69h-.34a4.63 4.63 0 1 0 0 9.26h.34a4.63 4.63 0 1 0 0-9.26zM98.54 56.69h-.34a4.63 4.63 0 1 0 0 9.26h.34a4.63 4.63 0 1 0 0-9.26z"/>
  <path class="cls-1" d="M55.32 195.53a5.36 5.36 0 0 1-5.32-5.36V44.66a5.36 5.36 0 0 1 5.36-5.36h168.78a5.37 5.37 0 0 1 5.36 5.36v92.76a5.61 5.61 0 1 1-11.22 0v-50.7a3.4 3.4 0 0 0-3.39-3.39H64.57a3.4 3.4 0 0 0-3.39 3.39v94.19a3.4 3.4 0 0 0 3.39 3.39h111.68a5.61 5.61 0 1 1 0 11.22zm9.26-145a3.4 3.4 0 0 0-3.39 3.39v14.79a3.4 3.4 0 0 0 3.39 3.39h150.31a3.4 3.4 0 0 0 3.39-3.39V53.92a3.4 3.4 0 0 0-3.39-3.39z"/>
  <path class="cls-1" d="M224.14 40.28a4.38 4.38 0 0 1 4.38 4.38v92.75a4.63 4.63 0 0 1-9.26 0V86.72a4.38 4.38 0 0 0-4.38-4.38H64.57a4.38 4.38 0 0 0-4.38 4.38v94.19a4.38 4.38 0 0 0 4.38 4.38h111.68a4.63 4.63 0 1 1 0 9.25H55.32a4.38 4.38 0 0 1-4.38-4.38V44.66a4.38 4.38 0 0 1 4.38-4.38h168.82M64.57 73.09h150.32a4.38 4.38 0 0 0 4.38-4.38V53.92a4.38 4.38 0 0 0-4.38-4.38H64.57a4.38 4.38 0 0 0-4.38 4.38v14.79a4.38 4.38 0 0 0 4.38 4.38m159.57-34.77H55.32A6.35 6.35 0 0 0 49 44.66v145.51a6.35 6.35 0 0 0 6.34 6.34h120.91a6.59 6.59 0 1 0 0-13.18H64.57a2.41 2.41 0 0 1-2.41-2.41v-94.2a2.41 2.41 0 0 1 2.41-2.41h150.32a2.41 2.41 0 0 1 2.41 2.41v50.69a6.59 6.59 0 0 0 13.19 0V44.66a6.35 6.35 0 0 0-6.34-6.34zM64.57 71.12a2.41 2.41 0 0 1-2.41-2.41V53.92a2.41 2.41 0 0 1 2.41-2.41h150.32a2.41 2.41 0 0 1 2.41 2.41v14.79a2.41 2.41 0 0 1-2.41 2.41z"/>
  <path class="cls-1" d="M82 154a9 9 0 0 0 5.1 8.11L126.19 181a4.39 4.39 0 0 0 4 0h.06l39.07-18.81a9 9 0 0 0 5.1-8.12v-41.84-.12a4.63 4.63 0 0 0-2.62-4.17l-39.65-19.1a9 9 0 0 0-7.8 0l-39.66 19c-.14.07-.24.17-.37.25h-.09s-.07.07-.11.09a4.47 4.47 0 0 0-.73.6c-.07.07-.12.14-.18.22a4.5 4.5 0 0 0-.52.71 3.77 3.77 0 0 0-.17.37 4.5 4.5 0 0 0-.28.71 4.83 4.83 0 0 0-.12.86v42.32zm15.53-31.57l23.54 11.34a4.38 4.38 0 0 1 2.48 3.94v24.72a4.38 4.38 0 0 1-6.28 3.94l-23.51-11.29a4.38 4.38 0 0 1-2.48-3.94v-24.72a4.38 4.38 0 0 1 6.28-3.95zm35.27 40v-24.68a4.38 4.38 0 0 1 2.48-3.94l20-9.61 3.59-1.72a4.38 4.38 0 0 1 6.27 3.95v24.72a4.38 4.38 0 0 1-2.48 3.94l-23.56 11.33a4.38 4.38 0 0 1-6.27-3.94zm-2.72-64.34a4.38 4.38 0 0 1 0 7.89l-20.78 10a4.38 4.38 0 0 1-3.79 0 4.38 4.38 0 0 1 0-7.89l20.78-10a4.38 4.38 0 0 1 3.82.05zm19.66 11.79a4.38 4.38 0 0 1 0 7.89L129 127.8a4.38 4.38 0 0 1-3.79 0 4.38 4.38 0 0 1 0-7.89l20.78-10a4.38 4.38 0 0 1 3.77.02z"/>
  <path class="cls-1" d="M115 137.51l-12.27-5.91a4.63 4.63 0 0 0-4 8.34l12.27 5.91a4.63 4.63 0 0 0 4-8.34zM249.69 182.44L196.92 129a4.63 4.63 0 0 0-7.92 3.26l.21 75.13a4.63 4.63 0 0 0 7.78 3.38l12.91-12a4.38 4.38 0 0 1 7 1.46l14.41 33.21a4.63 4.63 0 1 0 8.49-3.68L225.58 197a4.38 4.38 0 0 1 3.87-6.12l17.1-.57a4.63 4.63 0 0 0 3.14-7.88zm-32.13-.44a9 9 0 0 0-5.83 2.4l-6 5.54a4.38 4.38 0 0 1-7.35-3.2l-.09-32.53a4.38 4.38 0 0 1 7.49-3.09l22.85 23.15a4.38 4.38 0 0 1-3 7.45z"/>
</svg>
