// COLLECTION PAGE

body.template-collection {
	.main-content {
		.filters-toolbar-wrapper {
			display: none;
		}
		.page-width {
			.grid {
				margin-left: 0;
				&.grid--view-items {
					margin-bottom: 24px;
				}
				&.disclaimer-text {
					text-align: center;
				}
				.medium-up--one-third,
				.medium-up--one-half {
					background-color: $white;
				  box-shadow: 2px 2px 10px 0 rgba(0,0,0,.16), 0 0 10px 0 rgba(0,0,0,.1);
				  margin: 12px;
				  padding: 0;
				  width: calc((100% / 2) - 24px);
				  .grid-view-item {
				  	margin: 0 auto;
				  	a {
					  	padding: 24px;
					  	&:hover {
					  		opacity: 1;
					  	}
					  	.grid-view-item__title,
					  	.grid-view-item__meta {
					  		display: inline-block;
					  	}
					  	.grid-view-item__title {
					  		float: left;
					  	}
					  	.grid-view-item__meta {
					  		float: right;
					  		margin-top: 0;
					  	}
					  	.button {
					  		clear: both;
					  		margin-top: 24px;
					  		width: 100%;
					  		&:hover {

					  		}
					  	}
					  }
				  }
				}
				@media only screen and (max-width: 749px) {
					.medium-up--one-half,
					.small--one-half {
						width: calc(50% - 24px);
						a {
					  	padding: 24px;
					  }
					}
				}
				@media only screen and (max-width: 600px) {
					.medium-up--one-half,
					.small--one-half {
						margin: 0 0 24px 0;
						width: 100%;
						a {
					  	padding: 24px;
					  }
					}
				}
			}
		}
		.collection-slider {
			margin-top: 60px;
			h3 {
				text-align: center;
			}
			.grid__item {
				padding: 12px;
			}
			@media only screen and (max-width: 749px) {
				margin-top: 24px;
			}
		}
	}
}



// SINGLE PAGE

body.template-page {
	.main-content {
		.page-width {
			.grid {
				background-color: $white;
			  box-shadow: 2px 2px 10px 0 rgba(0,0,0,.16), 0 0 10px 0 rgba(0,0,0,.1);
			  padding: 60px 0;
			}
		}
	}
}