{% schema %}
	{
    "name": "Featured Brand Partners",
    "class": "swiper-container collection-slider page-width grid",
    "blocks": [
    	{
    		"type": "partner",
        "name": "Brand Partner",
        "settings": [
		      {
		      	"id": "slide_logo",
		        "type": "image_picker",
		        "label": "Brand Partner Logo"
		      },
		      {
		      	"id": "slide_url",
		        "type": "url",
		      	"label": "Logo Link (optional)"
			    }
		    ]
	    }
    ]
  }
{% endschema %}


<h3 class="grid__item">Featured Brand Partners</h3>
<div class="swiper-wrapper grid__item">
	{% for block in section.blocks %}
		<div class="swiper-slide">
			{% if block.settings.slide_url %}
				<a href="{{ block.settings.slide_url }}">
			{% endif %}

			<img src="{{ block.settings.slide_logo | img_url: '200x' }}">

			{% if block.settings.slide_url %}
				</a>
			{% endif %}
		</div>
	{% endfor %}
</div>